<!--
  @File Name          : ReprocessQueue.page
  @Description        : 
  @Author             : wbatista@moldsoft.com.br
  @Group              : 
  @Last Modified By   : wbatista@moldsoft.com.br
  @Last Modified On   : 25/10/2019 12:55:55
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    25/10/2019   wbatista@moldsoft.com.br     Initial Version
-->
<apex:page showHeader="false" sidebar="false" standardController="Queue__c" extensions="ReprocessQueueController" action="{!execute}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Reprocessar Fila</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Import the Design System style sheet -->
        <apex:slds />

        <style type="text/css">
            .slds-sucess {
                background-color: #4bca81 !important;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {

                    window.history.back();
                }, 3000);
            });
        </script>
    </head>

    <body>
        <!-- REQUIRED SLDS WRAPPER -->
        <div class="slds-scope">
            <!-- PRIMARY CONTENT WRAPPER -->
            <div class="myapp" onload="volta()">
                <!-- SECTION - BADGE COMPONENTS -->
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-sucess" role="alert">
                    <span class="slds-assistive-text">info</span>
                    <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                        </svg>
                    </span>
                    <h2>Registro reprocessado com sucesso. Aguarde alguns segundos até a integração ocorrer.
                    </h2>
                    <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
                <!-- / SECTION - BADGE COMPONENTS -->
            </div>
            <!-- / PRIMARY CONTENT WRAPPER -->
        </div>
        <!-- / REQUIRED SLDS WRAPPER -->
        <script type="text/javascript">
        </script>
    </body>

    </html>
</apex:page>